<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.note.dao.NoteMapper">
	<resultMap type="com.zhilv.entity.MoreDetail" id="detailMap">
		<id property="moreId" column="more_id"/>
		<result property="destination" column="more_destination"/>
		<result property="traffic" column="more_traffic"/>
		<result property="beginDate" column="more_begin_date"/>
		<result property="days" column="more_days"/>
		<result property="people" column="more_people"/>
		<result property="money" column="more_money"/>
		<association property="travels" column="{travelsId=travels_id}"
			select="com.zhilv.travels.dao.TravelsMapper.findTravelsById"/>
		<association property="video" column="{videoId=video_id}"
			select="com.zhilv.video.dao.VideoMapper.findVideoById"/>
	</resultMap>
	
	<select id="findNoteByDestination" resultMap="detailMap">
		select more_id,more_destination,travels_id,video_id 
		from more_detail 
		where more_destination like concat('%',#{destination},'%')
		order by more_id desc
	</select>
	
	
</mapper>