<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.user.dao.UserMapper">
	<resultMap type="com.zhilv.entity.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="phone" column="user_phone"/>
		<result property="email" column="user_email"/>
		<result property="password" column="user_password"/>
		<result property="userHead" column="user_head"/>
		<result property="userName" column="user_name"/>
		<result property="sex" column="user_sex"/>
		<result property="birth" column="user_birth"/>
		<result property="signature" column="user_signature"/>
	</resultMap>
	<resultMap type="com.zhilv.entity.User" id="userMap2">
		<id property="userId" column="user_id"/>
		<result property="userHead" column="user_head"/>
		<result property="userName" column="user_name"/>
		<result property="sex" column="user_sex"/>
		<result property="birth" column="user_birth"/>
		<result property="signature" column="user_signature"/>
	</resultMap>
	
	<!-- 用户登录 -->
	<select id="findUserByPhoneAndEmail" resultMap="userMap">
		select * from user_detail 
		<where>
			<if test="phone != null and !phone.equals('')">
				and user_phone=#{phone}
			</if>
			<if test="email != null and !email.equals('')">
				and user_email=#{email}
			</if>
			<if test="password != null and !password.equals('')">
				and user_password=#{password}
			</if>
		</where>
	</select>
	
	<!-- 忘记密码 -->
	<update id="updateUserPwd">
		update user_detail 
		set user_password=#{password}
		<where>
			<if test="phone != null and !phone.equals('')">
				and user_phone=#{phone}
			</if>
			<if test="email != null and !email.equals('')">
				and user_email=#{email}
			</if>
		</where>
	</update>	
	
	<!-- 根据ID值查询用户信息 -->
	<select id="findUserByUserId" resultMap="userMap2">
		select * from user_detail where user_id=#{userId}
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUser" parameterType="com.zhilv.entity.User" useGeneratedKeys="true" keyProperty="userId">
		insert into 
		user_detail(user_id,user_password
		<if test="user.phone != null and !user.phone.equals('')">
		,user_phone
		</if>
		<if test="user.email != null and !user.email.equals('')">
		,user_email
		</if>
		)values (#{user.userId},#{user.password}
		<if test="user.phone != null and !user.phone.equals('')">
		,#{user.phone}
		</if>
		<if test="user.email != null and !user.email.equals('')">
		,#{user.email}
		</if>
		)
	</insert>
	
	<!-- 更新用户信息 -->
	<update id="updateMsgOfUser" useGeneratedKeys="true" keyProperty="userId">
		update user_detail 
		<set>
			<if test="user.phone != null and !user.phone.equals('')">
				user_phone=#{user.phone},
			</if>
			<if test="user.email != null and !user.email.equals('')">
				user_email=#{user.email},
			</if>
			<if test="user.password != null and !user.password.equals('')">
				user_password=#{user.password},
			</if>
			<if test="user.userHead != null and !user.userHead.equals('')">
				user_head=#{user.userHead},
			</if>
			<if test="user.userName != null and !user.userName.equals('')">
				user_name=#{user.userName},
			</if>
			<if test="user.sex != null and !user.sex.equals('')">
				user_sex=#{user.sex},
			</if>
			<if test="user.birth != null">
				user_birth=#{user.birth},
			</if>
			<if test="user.signature != null and !user.signature.equals('')">
				user_signature=#{user.signature},
			</if>
		</set>
		where user_id=#{user.userId}
	</update>
	
	<!-- 查询关注列表 -->
	<select id="findFollowed" resultMap="userMap2">
		select user_id,user_head,user_name,user_sex,user_birth,user_signature 
		from user_detail 
		where user_id in(
			select other_user_id 
			from attention 
			where mine_user_id = #{userId}
		)
	</select>
	
	<!-- 查询粉丝列表 -->
	<select id="findFans" resultMap="userMap2">
		select user_id,user_head,user_name,user_sex,user_birth,user_signature 
		from user_detail
		where user_id in(
			select mine_user_id 
			from attention
			where other_user_id=#{userId}
		)
	</select>
	
	
	<!-- 根据ID值查询是否关注 -->
	<select id="findIfAttention" parameterType="com.zhilv.entity.Attention" resultType="java.lang.Integer">
		select count(*) from attention where mine_user_id=#{attention.mineId} and other_user_id=#{attention.otherId}
	</select>
	
	<!-- 添加关注条目 -->
	<insert id="addAttention" parameterType="com.zhilv.entity.Attention" useGeneratedKeys="true" keyProperty="attentionId">
		insert into 
		attention(attention_id,mine_user_id,other_user_id) 
		values (#{attention.attentionId},#{attention.mineId},#{attention.otherId})
	</insert>
	
	<!-- 删除关注条目 -->
	<delete id="deleteAttention" parameterType="com.zhilv.entity.Attention">
		delete from attention where mine_user_id=#{attention.mineId} and other_user_id=#{attention.otherId} 
	</delete>
	
</mapper>