<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.notification.dao.NotificationMapper">
	<resultMap type="com.zhilv.entity.Notification" id="notifMap">
		<id property="id" column="notification_id"/>
		<result property="title" column="notification_title"/>
		<result property="content" column="notification_content"/>
		<result property="time" column="notification_time"/>
	</resultMap>
	
	<!-- 查找指定用户的通知 -->
	<select id="findNotification" resultMap="notifMap">
		select *
		from notification n
		where n.user_id=#{userId} or n.user_id=0
	</select>
</mapper>