<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.recommend.travels.dao.RecommendTravelsMapper">
	<resultMap type="com.zhilv.entity.InterestLabel" id="travelsMap">
		<id property="labelId" column="label_id"/>
		<result property="labelName" column="label_name"/>
		<result property="labelType" column="label_type"/>
	</resultMap>
	
	<!-- 查找用户兴趣集合  -->
	<select id="findUserInterest" resultMap="travelsMap">
		SELECT label_name
		FROM interest_label
		WHERE label_id IN(
			SELECT label_id
			FROM user_interest
			WHERE user_id=#{userId}
		)
	</select>
	
</mapper>