<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.audit.topic.dao.AuditTopicMapper">
	<resultMap type="com.zhilv.entity.AuditTopic" id="adtpMap">
		<id property="auditId" column="a_id"/>
		<result property="topicId" column="a_topic_id"/>
		<result property="title" column="a_topic_title"/>
		<result property="userId" column="a_user_id"/>
		<result property="time" column="a_last_time"/>
		<result property="status" column="a_status"/>
	</resultMap>
	
	<!--  添加审核版话题 -->
	<insert id="addAuditTopic">
		insert into audit_topic(a_topic_id,a_topic_title,a_user_id)
		values(#{topic.topicId},#{topic.title},#{topic.userId})
	</insert>
	
	<!-- 更新审核状态 -->
	<update id="updateTopicStatus">
		update audit_topic 
		set a_status=#{status},a_last_time=#{time}
		where a_id=#{auditId}
	</update>
	
	<!-- 根据ID查找 审核版话题-->
	<select id="findAuditTopicById" resultMap="adtpMap">
		select * from audit_topic where a_id=#{auditId}
	</select>
		
	<!-- 查找所有未审核的话题 -->
	<select id="findAllNotAuditTopic" resultMap="adtpMap">
		select * from audit_topic order by a_id desc
	</select>
	
	<!-- 分页查询 -->
	<select id="findForPage" resultMap="adtpMap">
		select * from audit_topic order by a_id desc limit #{param1},#{param2}
	</select>
	
	<!-- 查询数量 -->
	<select id="findTopicCount" resultType="java.lang.Integer">
		select count(*) from audit_topic 
	</select>
</mapper>







