<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.usercollection.dao.CollectionMapper">
	<resultMap type="com.zhilv.entity.UserCollection" id="collectionMap">
		<id property="id" column="collection_id"/>
		<result property="time" column="collection_time"/>
		<association property="user" column="{userId=user_id}"
			select="com.zhilv.user.dao.UserMapper.findUserByUserId"/>
		<association property="travels" column="{travelsId=travels_id}"
			select="com.zhilv.travels.dao.TravelsMapper.findTravelsById"/>
		<association property="video" column="{videoId=video_id}"
			select="com.zhilv.video.dao.VideoMapper.findVideoById"/>
	</resultMap>
	
	<select id="findAllCollection" resultMap="collectionMap">
		select * from user_collection where user_id=#{userId} order by collection_id desc
	</select>
	
	<select id="findIfCollect" resultType="java.lang.Integer">
		select count(*) from user_collection where user_id=#{userId} and 
		<if test="null != travelsId">
			travels_id=#{travelsId}
		</if>
		<if test="null != videoId">
			video_id=#{videoId}
		</if>
	</select>
	
	<insert id="addCollection">
		insert into user_collection(user_id,collection_time,
		<if test="null != travelsId">
			travels_id
		</if>
		<if test="null != videoId">
			video_id
		</if>
		)values(#{userId},#{time}, 
		<if test="null != travelsId">
			#{travelsId}
		</if>
		<if test="null != videoId">
			#{videoId}
		</if>
		)
	</insert>
	
	<delete id="deleteCollection">
		delete from user_collection where user_id=#{userId} and 
		<if test="null != travelsId">
			travels_id=#{travelsId}
		</if>
		<if test="null != videoId">
			video_id=#{videoId}
		</if>
	</delete>
</mapper>