<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhilv.replycomment.dao.ReplyCommentMapper">
	<resultMap type="com.zhilv.entity.ReplyComment" id="replyMap1">
		<id property="replyId" column="reply_id"/>
		<result property="replyContent" column="reply_content"/>
		<result property="replyTime" column="reply_time"/>
		<association property="replyUser" column="{userId=reply_user_id}"
			select="com.zhilv.user.dao.UserMapper.findUserByUserId">
		</association>
		<!-- 自身参照 -->
		<association property="replyComment" column="{replyId=parent_id}" 
			select="com.zhilv.replycomment.dao.ReplyCommentMapper.queryReplyCommentById2">
		</association>
	</resultMap>
	<resultMap type="com.zhilv.entity.ReplyComment" id="replyMap2">
		<id property="replyId" column="reply_id"/>
		<result property="replyContent" column="reply_content"/>
		<result property="replyTime" column="reply_time"/>
		<association property="comment" column="{commentId=comment_id}"
			select="com.zhilv.comment.dao.CommentMapper.findCommentById">
		</association>
		<association property="replyUser" column="{userId=reply_user_id}"
			select="com.zhilv.user.dao.UserMapper.findUserByUserId">
		</association>
		<!-- 自身参照 -->
		<association property="replyComment" column="{replyId=parent_id}" 
			select="com.zhilv.replycomment.dao.ReplyCommentMapper.queryReplyCommentById2">
		</association>
	</resultMap>
	
	<resultMap type="com.zhilv.entity.ReplyComment" id="replyMap3">
		<id property="replyId" column="reply_id"/>
		<result property="replyContent" column="reply_content"/>
		<result property="replyTime" column="reply_time"/>
		<association property="replyUser" column="{userId=reply_user_id}"
			select="com.zhilv.user.dao.UserMapper.findUserByUserId">
		</association>
	</resultMap>
	
	
	<!-- 插入回复的评论 -->
	<insert id="insertReplyComment"  useGeneratedKeys="true" keyProperty="replyId">
		insert into reply_comment_detail(comment_id,reply_user_id,reply_content,reply_time) 
		values(#{reply.comment.id},#{reply.replyUser.userId},#{reply.replyContent},#{reply.replyTime})
	</insert>
	
	<!-- 查询评论数量 -->
	<select id="queryCountOfReplyByCommentId" resultType="java.lang.Integer">
		select count(*) from reply_comment_detail where comment_id = #{commentId}
	</select>
	
	<!-- 查询评论 -->
	<select id="queryReplyCommentByCommentId" resultMap="replyMap1">
		select * from reply_comment_detail where comment_id = #{commentId}
	</select>
	
	<!-- 查询回复评论及其父元素-->
	<select id="queryReplyCommentById1" resultMap="replyMap2">
		select * from reply_comment_detail where reply_id = #{replyId}
	</select>
	
	<select id="queryReplyCommentById2" resultMap="replyMap3">
		select * from reply_comment_detail where reply_id = #{replyId}
	</select>
	
	<!-- 插入回复的回复 -->
	<insert id="insertReplyToReply" useGeneratedKeys="true" keyProperty="replyId">
		insert into reply_comment_detail(comment_id,reply_user_id,reply_content,reply_time,parent_id) 
		values(#{reply.comment.id},#{reply.replyUser.userId},#{reply.replyContent},#{reply.replyTime},#{reply.replyComment.replyId})
	</insert>
</mapper>

